<html>
  <body>
    <form class="" action="/posts:id" method="put">
      <p><%= post.title %></p>
      <input type="input" name="title" value="">
      <p><%= post.body %></p>
      <textarea name="body" rows="8" cols="40"></textarea>
      <input type="submit" name="submit" value="">
    </form>
  </body>
</html>
